{% extends 'base.html.twig' %}

{% block title %} new gh4 {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="background-color: #8959A8">
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
            </div>
            <div class="col-lg-6" style="background-color: #8959A8">
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
            </div>
        </div>
    </div>
    {{ username }}: my new index
{% endblock %}